---
Checks: >
  - readability-identifier-naming,
  - readability-braces-around-statements,
  - readability-misleading-indentation,
  - readability-avoid-const-params-in-decls,
  - readability-const-return-type,
  - readability-uppercase-literal-suffix,
  - readability-function-cognitive-complexity,
  - readability-named-parameter,
  - readability-redundant-control-flow,
  - readability-redundant-declaration,
  - readability-redundant-smartptr-get,
  - readability-simplify-boolean-expr

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
---
